
    <ul>
      <li><%= link_to 'See Project', "projects/#{project.id}" %></li>
      <li>Project Title: <%= project.title %></li>
      <li>Goal: <%= number_to_currency(project.goal) %></li>
      <li>Ends in: <%= project.countdown %> days</li>
    </ul>
