<h1>Projects List</h1>

<%= link_to 'New Project', new_project_path %><br>
<%= link_to 'Sign Up', users_new_path %>


<% if @projects.any? %>
<ul>
<% @projects.each do |project| %>
    <li class="projects">
      <%= link_to project.title, project_path(project) %>
    </li>
  <% end %>
  </ul>
<% else %>
<h2>No projects yet</h2>
<% end %>
